<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{/static/css/common.css}" />
    <link rel="stylesheet" th:href="@{/static/css/cart.css}" />
    <script language="JavaScript" th:src="@{/static/script/cart.js}"></script>
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{/WEB-INF/pages/index.html}">
            <img th:src="@{/static/img/logo.jpg}" alt=""
          /></a>
          <h1>Your Cart</h1>
        </div>
        <div class="header-right">
          <h3>Welcome <span th:text="${session.user.getUname()}"></span></h3>
          <div class="order"><a th:href="@{order.do(operate='showOrder')}">MyOrder</a></div>
          <div class="destory"><a href="../index.html">注销</a></div>
          <div class="gohome">
            <a th:href="@{page.do(operate='page', page='index')}">return</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>cover</th>
              <th>name</th>

              <th>quality</th>
              <th>price</th>
              <th>total price</th>
              <th>remove</th>
            </tr>
          </thead>
          <tbody th:if="${session.user.getCart().getCartItemMap().size() > 0}" th:each="cartItem:${session.user.getCart().getCartItemMap().values()}">
            <tr>
              <td>
                <img th:src="@{|/static/uploads/${cartItem.getBook().getBookImg()}|}" alt="" />
              </td>
              <td th:text="${cartItem.getBook().getBookName()}"></td>
              <td>
                <span class="count" th:onclick="|editCartCount(${cartItem.getId()},${cartItem.getBuyCount() - 1})|">-</span>
                <input class="count-num" type="text" th:value="${cartItem.getBuyCount()}"/>
                <span class="count" th:onclick="|editCartCount(${cartItem.getId()}, ${cartItem.getBuyCount() + 1})|">+</span>
              </td>
              <td th:text="${cartItem.getBook().getPrice()}"></td>
              <td th:text="${cartItem.getItemTotal()}"></td>
              <td><a href="">remove</a></td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-left">
            <a href="#" class="clear-cart">Clear Cart</a>
            <a href="#">Continue to Shop</a>
          </div>
          <div class="footer-right">
            <div>total<span th:text="${session.user.getCart().getTotalItem()}"></span> items</div>
            <div class="total-price">total price: <span th:text="${session.user.getCart().getTotalPrice()}"></span>CAD</div>
            <a class="pay" th:href="@{/order.do(operate='checkOut')}">Check Out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="content">
          <dl >
            <dt>
              <a href="https://www.linkedin.com/in/beiyi-zhang-933a45252/" target="_blank">About Double</a>
            </dt>
          </dl>
          <dl>
            <dt >
              <a href="https://github.com/Double97828" target="_blank">Contact Me</a>
            </dt>
          </dl>
        </div>
      </div>
      <div class="down">Double Book Shop.Copyright ©2021</div>
    </div>
  </body>
</html>
