<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Double Shop Register Page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/register.css}" />
    <style type="text/css">
      .login_form {
        height: 420px;
        margin-top: 25px;
      }
    </style>
  </head>
  <body>
    <div id="login_header">
      <a th:href="@{page.do(operate='page', page='index')}">
        <img class="logo_img" alt="" th:src="@{static/img/logo.jpg}" width="80" height="80" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <h1>Create an Account</h1>
        <form th:action="@{/user.do}" method="post">
          <input type="hidden" name="operate" value="register">
          <div class="form-item">
            <div>
              <label>user name:</label>
              <input type="text" placeholder="please enter the user name" name="uname" />
            </div>
            <span class="errMess">username should contain 6~16 digits or characters</span>
          </div>
          <div class="form-item">
            <div>
              <label>password:</label>
              <input type="password" placeholder="please enter password" name="pwd"/>
            </div>
            <span class="errMess">password must be at least 8 characters long</span>
          </div>
          <div class="form-item">
            <div>
              <label>repeat password:</label>
              <input type="password" placeholder="please confirm password" />
            </div>
            <span class="errMess">the password and confirm password do not math</span>
          </div>
          <div class="form-item">
            <div>
              <label>email:</label>
              <input type="text" placeholder="please enter the email" name="email"/>
            </div>
            <span class="errMess">please enter a valid email</span>
          </div>
          <div class="form-item">
            <div>
              <label>captcha:</label>
              <div class="verify">
                <input type="text" placeholder="" name="captcha"/>
                <img th:src="@{/kaptcha}" >
              </div>
            </div>
            <span class="errMess">captcha is not correct</span>
          </div>
          <button class="btn">register</button>
        </form>
      </div>
    </div>
    <div id="bottom">
      <span>
        Double Book Shop.Copyright &copy;2023
      </span>
    </div>
  </body>
</html>
