<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Double Shop Register Page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/register.css}" />
    <style type="text/css">
      .login_form {
        height: 420px;
        margin-top: 25px;
      }
    </style>
  </head>
  <body>
    <div id="login_header">
      <a th:href="@{page.do(operate='page', page='index')}">
        <img class="logo_img" alt="" th:src="@{static/img/logo.jpg}" width="80" height="80" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <h1>Create an Account</h1>
        <form th:action="@{/user.do}" method="post">
          <input type="hidden" name="operate" value="createUser">
          <div class="form-item">
            <div>
              <label>user name:</label>
              <input type="text" placeholder="please enter the user name" />
            </div>
            <span class="errMess">用户名应为6~16位数组和字母组成</span>
          </div>
          <div class="form-item">
            <div>
              <label>password:</label>
              <input type="password" placeholder="please enter the password" />
            </div>
            <span class="errMess">密码的长度至少为8位</span>
          </div>
          <div class="form-item">
            <div>
              <label>repeat password:</label>
              <input type="password" placeholder="please repeat the password" />
            </div>
            <span class="errMess">密码两次输入不一致</span>
          </div>
          <div class="form-item">
            <div>
              <label>email:</label>
              <input type="text" placeholder="please enter the email" />
            </div>
            <span class="errMess">请输入正确的邮箱格式</span>
          </div>
          <div class="form-item">
            <div>
              <label>验证码:</label>
              <div class="verify">
                <input type="text" placeholder="" />
                <img th:src="@{/kaptcha}">
              </div>
            </div>
            <span class="errMess">请输入正确的验证码</span>
          </div>
          <button class="btn">register</button>
        </form>
      </div>
    </div>
    <div id="bottom">
      <span>
        Double Book Shop.Copyright &copy;2023
      </span>
    </div>
  </body>
</html>
